h1 {
    color: blanchedalmond;
    font-size: 1.7rem;
}

h2 {
    color: blanchedalmond;
    font-size: 1.7rem;
}

p {
    color: aquamarine;
    font-size: 1.2rem;

}

body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}